
<table style="width: 100%; text-align: center; margin:auto;">
  <tbody>
    <tr>
      <td>
        <h1 class="mat-display-1">{{ title }}</h1>
      </td>
    </tr>
    <tr>
      <td>
        <h2 class="mat-h2">{{ info }}</h2>
      </td>
    </tr>
    <tr>
      <td *ngIf="loggedIn" [@flyInOut]="loggedIn">
        <table-users style="padding-bottom: 5em;"></table-users>
      </td>
    </tr>
    <tr style="height:1em;">
      <td></td>
    </tr>
    <tr>
      <td>
          <button mat-raised-button *ngIf="loggedIn" (click)="openLightDialog();" [@flyInOut]="loggedIn">Light Control</button>
      </td>
    </tr>
  </tbody>
</table>





